@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

.container {
    width: 70%;
    height: 80vh;
    display: flex;
    border: none;
    margin: 3% 15% 20%;
}

.form-image {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-cabeçalho-1);
    padding: 1rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #fff;
}

.form-image img {
    width: 25rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-form-log);
    padding: 2rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--color-fonte-log);
}

.fraseLogo {
  font-weight: bold;
  font-size: 1em;
  color: var(--color-fonte);
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: var(--bg-butao-log);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1rem;
}

.login-button button:hover {
    background-color: var(--bg-butao-hover);
    transition: 0.2s;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-fonte);
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--bg-butao-log);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
}

.input-box .insert {
    margin: 0.6rem 0;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    background-color: #e6e6e6;
}

.input-box .insert:focus-visible {
    outline: 1px solid #6e69d3;
}

.input-box .teste,
.gender-title h6 {
    font-weight: 600;
    color: var(--color-fonte-log);
}

.input-box .insert::placeholder {
    color: #000000be;
}

.continue-button button {
    width: 100%;
    margin-top: 5%;
    border: none;
    background-color: var(--bg-butao-log);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    color: var(--color-fonte);
}

.continue-button button:hover {
    background-color: var(--bg-butao-hover);
    transition: 0.2s;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
}


@media screen and (min-width: 1700px){
  .container {
    height: 60vh;
  }
}

@media screen and (max-width: 1200px){
  .form-image {
    display: none;
  }
  .form {
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}