{% extends 'base.html' %}
{% block linkcss %}
    <link rel="stylesheet" href="{{url_for('static', filename = 'estilo/estilomateriasver.css')}}">
{% endblock  %}

{% block conteudo %}  

<div class="principal">

<div class="sub-principal">
    {% if conteudosnver != [] %}
        <div class="div-verificar">
          <h1 style="font-size: 100%; background-color: var(--bg-caixa); padding: 3px; border-radius: 10px; text-align: center; color: var(--color-fonte);">Contéudos a verificar:</h1>
            <div class="verificar-conteudo">
                {% for conteudo in conteudosnver %}
                    <div class="conteudo-caixa2">
                        <a href={{url_for('pagconteudo', materianome=materia, conteudolink=conteudo.link) }}>
                            <h2 class="h2home">{{conteudo.titulo}}</h2>
                        </a>
                        <h2 class="h3home">Feito por: {{conteudo.userctag}}</h2>
                        <h2 class="h3home">Tipo de mídia: {{conteudo.tipo}}</h2>
                    </div>
                {% endfor %}
            </div>
          </div>   
    {% endif %}
        <div class="novo-caixa">
            <a href={{ url_for('addcont', materianome=materia) }}>
                <h2 class="h2home"><i class="bi bi-plus-circle-fill"></i> Novo Conteudo</h2>
            </a>
        </div>

  <!--
  <div class="buscamat">
      <i class="bi bi-search" style="margin: 0 7px 0; color: var(--bg-caixa);"></i><input class="texto-buscamat" type="text" id="buscamat" name="buscamat" placeholder="Buscar matéria..."></input><br>
  </div>
  -->
        <div class="div-conteudos">
            {% for conteudo in conteudosver %}
                <div class="conteudo-caixa">
                    <a href={{url_for('pagconteudo', materianome=materia, conteudolink=conteudo.link) }}>
                        <h2 class="h2home">{{conteudo.titulo}}</h2>
                    </a>
                    <h2 class="h3home">Feito por: {{conteudo.userctag}}</h2>
                    <h2 class="h3home">Tipo de mídia: {{conteudo.tipo}}</h2>
                </div>
            {% endfor %}
            </div> 
        </div>
    </div>
  
</div>
  
</div>
  
{% endblock %}